/* css styles */

#quarto-announcement {
  justify-content: center;
  font-size: 1.25em; /* default is 0.9em */
}

#quarto-announcement .quarto-announcement-content {
  margin: 0 auto;
  text-align: center;
}

/* Center navbar links */
#navbarCollapse {
  justify-content: center;
}

#navbarCollapse .navbar-nav {
  margin: 0 auto !important;
}
